@use "config" as config;

.evidenceItem .body {
  body.single & {
    .video {
      display: flex;
      align-items: flex-start;
      gap: 1em;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .transcript {
    color: #444;
    font-style: italic;
    margin-top: 1em;

    h2 {
      font-size: 1em;
      cursor: pointer;
      margin-bottom: 0;
      margin-top: 1em;

      .show {
        display: inline;
      }
      .hide {
        display: none;
      }
    }

    .content {
      font-size: 0.8em;
      line-height: 1.2em;
      display: none;
      border: 1px solid #00000066;
      background: rgba(0, 0, 0, 0.1);
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

    div.line {
      display: flex;
      gap: 0.4em;
      padding: 0.4em 0.25em 0.4em 0.4em;
      &:nth-child(even) {
        background: rgba(0, 0, 0, 0.1);
      }
      &:hover {
        background: rgba(0, 0, 0, 0.15);
        cursor: pointer;
        & .time {
          color: blue;
          text-decoration: underline;
        }
      }
    }

    span.time {
      font-size: 0.8em;
      opacity: 0.7;
      margin-top: 0.1em;
      body.single & {
        font-size: 0.65em;
      }
    }

    &.show {
      h2 .show {
        display: none;
      }
      h2 .hide {
        display: inline;
      }
      .content {
        display: block;
      }
    }
  }

  body.single & {
    .transcript {
      flex-shrink: 1;
      min-width: 300px;
      flex-basis: 48%;
      display: flex;
      flex-direction: column;
      max-height: calc(60vh - config.$header-height);
      margin-top: -1.3em;

      @media (max-width: 1024px) {
        margin-top: 0;
        flex-basis: 100%;

        h2 {
          text-align: center;
        }
      }

      .content {
        display: block;
        margin: 0 auto 0 0;
        line-height: 1.2em;
        font-size: 0.8em;
        margin-left: 0;
        overflow-x: scroll;
        width: 100%;
      }

      h2 span {
        display: none;
      }
      h2 {
        margin-top: 0;
      }
    }
  }
}
