body {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4em;
  position: relative;
}

html,
body {
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
  display: inline-block;
}

#message_list {
  margin: 120px 8px 8px 8px;
}

span.time {
  opacity: 0.56;
  padding-right: 0.5em;
}

mark {
  background-color: yellow;
  font-weight: bold;
}

.date_divider,
.email_divider,
.number_divider {
  position: sticky;
  z-index: 9999999;
  top: 120px;
  font-size: 0.85em;
  background: rgb(131, 83, 209);
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em 1.5em;
  margin-bottom: 0.5em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -1em;
}
@media (max-width: 794px) {
  .date_divider,
  .email_divider,
  .number_divider {
    top: 125px;
  }
}

.email_divider {
  left: 115px;
  border-radius: 20px;
}

.date_divider {
  border-radius: 20px;
  background: #333;
  top: 120px;
  left: 100%;
  width: 90px;
  text-align: center;
}

a.button {
  background-color: rgb(131, 83, 209);
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 0.5px solid white;
  font-size: 0.8em;
  margin-top: 0.1em;
  line-height: 1em;
}

#stats {
  z-index: 9999999;
  font-size: 1.1em;
  display: inline-block;
  position: fixed;
  padding: 0.5em 1.2em;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0.5em;
  background: #333;
  color: white;
}
@media (max-width: 794px) {
  #stats {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    top: revert;
    bottom: 0;
    right: 0.5em;
    left: revert;
  }
}
#stats table {
  border-spacing: 0;
}
#stats table td,
#stats table th {
  padding: 0.01rem 0.5rem;
}
#stats table thead th {
  font-size: 0.6em;
  text-align: right;
  line-height: 1em;
}
#stats table tr.total th,
#stats table tr.total td {
  border-top: 0.5px solid white;
  font-size: 1.1rem;
  padding-top: 0.1em;
  text-align: right;
}
#stats table tr.total th {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  line-height: 1.2em;
  text-align: right;
  font-weight: bold;
}
#stats hr {
  height: 0px;
  border: 0;
  border-top: 0.5px solid white;
  margin: 0.25em 0;
}
#stats .subtotal {
  font-size: 0.65em;
  line-height: 1em;
}
#stats .subtotal .count,
#stats .subtotal th {
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  line-height: 1.2em;
  text-align: right;
}

#header {
  background: rgb(108, 108, 108);
  padding: 0.5em 1em 1em 1em;
  padding-left: 250px;
  font-size: 0.85em;
  line-height: 1.3em;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  height: 115px;
  z-index: 999999;
  top: 0;
}
#header p {
  margin-top: 1em;
}
@media (max-width: 794px) {
  #header {
    padding-left: 1em;
  }
}
#header div.search_field {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  margin-right: 1.5em;
  white-space: nowrap;
  display: inline-block;
}
#header select,
#header input[type=submit] {
  background: #333;
  color: white;
  border: 1px solid white;
  border-radius: 1.2em;
  padding: 0.25em 1em;
}
#header input[type=submit] {
  background: rgb(2, 136, 209);
}
#header input[type=text],
#header select {
  font-size: 1em;
}

.message, .voicemail, .social, .video, .offender, .email {
  margin: 0.5em 0;
  border: 0.75px solid gray;
  border-radius: 20px;
  background: rgba(128, 128, 128, 0.18);
  max-width: 500px;
  width: fit-content;
  overflow: hidden;
}
@media (max-width: 794px) {
  .message, .voicemail, .social, .video, .offender, .email {
    max-width: 90%;
  }
}
.message .meta, .voicemail .meta, .social .meta, .video .meta, .offender .meta, .email .meta {
  padding: 4px 1em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-style: italic;
  background: rgba(128, 128, 128, 0.25);
  font-size: 0.9em;
  display: flex;
}
.message .meta .info, .voicemail .meta .info, .social .meta .info, .video .meta .info, .offender .meta .info, .email .meta .info {
  vertical-align: middle;
  line-height: 1.5em;
}
.message .meta span.icon, .voicemail .meta span.icon, .social .meta span.icon, .video .meta span.icon, .offender .meta span.icon, .email .meta span.icon {
  margin-right: 0.5em;
  font-size: 1.5em;
  font-style: normal;
}
.message .meta strong.jesse, .voicemail .meta strong.jesse, .social .meta strong.jesse, .video .meta strong.jesse, .offender .meta strong.jesse, .email .meta strong.jesse,
.message .meta strong.shannon,
.voicemail .meta strong.shannon,
.social .meta strong.shannon,
.video .meta strong.shannon,
.offender .meta strong.shannon,
.email .meta strong.shannon {
  display: inline-block;
}
.message .meta a.evidence-item-link, .voicemail .meta a.evidence-item-link, .social .meta a.evidence-item-link, .video .meta a.evidence-item-link, .offender .meta a.evidence-item-link, .email .meta a.evidence-item-link {
  position: relative;
  top: 0;
  right: 0;
  display: block;
}
.message .body, .voicemail .body, .social .body, .video .body, .offender .body, .email .body {
  padding: 0.75em 1em 1em 1em;
}
.message .body .title, .voicemail .body .title, .social .body .title, .video .body .title, .offender .body .title, .email .body .title {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 0.2em;
}
.message .body .duration, .voicemail .body .duration, .social .body .duration, .video .body .duration, .offender .body .duration, .email .body .duration {
  margin-bottom: 1em;
}
.message .body .transcript, .voicemail .body .transcript, .social .body .transcript, .video .body .transcript, .offender .body .transcript, .email .body .transcript {
  color: #444;
  font-style: italic;
  margin-top: 1em;
}
.message .body .transcript h1, .voicemail .body .transcript h1, .social .body .transcript h1, .video .body .transcript h1, .offender .body .transcript h1, .email .body .transcript h1 {
  font-size: 1em;
  cursor: pointer;
}
.message .body .transcript h1 .show, .voicemail .body .transcript h1 .show, .social .body .transcript h1 .show, .video .body .transcript h1 .show, .offender .body .transcript h1 .show, .email .body .transcript h1 .show {
  display: inline;
}
.message .body .transcript h1 .hide, .voicemail .body .transcript h1 .hide, .social .body .transcript h1 .hide, .video .body .transcript h1 .hide, .offender .body .transcript h1 .hide, .email .body .transcript h1 .hide {
  display: none;
}
.message .body .transcript .content, .voicemail .body .transcript .content, .social .body .transcript .content, .video .body .transcript .content, .offender .body .transcript .content, .email .body .transcript .content {
  font-size: 0.8em;
  line-height: 1.2em;
  display: none;
}
.message .body .transcript.show h1 .show, .voicemail .body .transcript.show h1 .show, .social .body .transcript.show h1 .show, .video .body .transcript.show h1 .show, .offender .body .transcript.show h1 .show, .email .body .transcript.show h1 .show {
  display: none;
}
.message .body .transcript.show h1 .hide, .voicemail .body .transcript.show h1 .hide, .social .body .transcript.show h1 .hide, .video .body .transcript.show h1 .hide, .offender .body .transcript.show h1 .hide, .email .body .transcript.show h1 .hide {
  display: inline;
}
.message .body .transcript.show .content, .voicemail .body .transcript.show .content, .social .body .transcript.show .content, .video .body .transcript.show .content, .offender .body .transcript.show .content, .email .body .transcript.show .content {
  display: block;
}
.message .body video, .voicemail .body video, .social .body video, .video .body video, .offender .body video, .email .body video {
  width: 100%;
  max-width: 300px;
  max-height: 400px;
}
.message .body img, .voicemail .body img, .social .body img, .video .body img, .offender .body img, .email .body img {
  display: inline-block;
  margin: 0.1em 0.1em 0.1em 0;
  max-width: 200px;
  max-height: 300px;
}
.message .body .duration, .voicemail .body .duration, .social .body .duration, .video .body .duration, .offender .body .duration, .email .body .duration {
  margin-top: 0em;
}
.message .body blockquote, .voicemail .body blockquote, .social .body blockquote, .video .body blockquote, .offender .body blockquote, .email .body blockquote {
  font-style: italic;
  color: #666;
  opacity: 0.9;
  border-left: 2px solid #666 !important;
  margin-top: 0.25em !important;
}
.message .body .screenshots, .voicemail .body .screenshots, .social .body .screenshots, .video .body .screenshots, .offender .body .screenshots, .email .body .screenshots,
.message .body .attachments,
.voicemail .body .attachments,
.social .body .attachments,
.video .body .attachments,
.offender .body .attachments,
.email .body .attachments {
  margin-top: 2em;
  font-size: 0.8em;
  color: #333;
  line-height: 1em;
  border-top: 1px solid #999;
}
.message .body .screenshots h1, .voicemail .body .screenshots h1, .social .body .screenshots h1, .video .body .screenshots h1, .offender .body .screenshots h1, .email .body .screenshots h1,
.message .body .attachments h1,
.voicemail .body .attachments h1,
.social .body .attachments h1,
.video .body .attachments h1,
.offender .body .attachments h1,
.email .body .attachments h1 {
  margin: 0;
}
.message .body .screenshots img, .voicemail .body .screenshots img, .social .body .screenshots img, .video .body .screenshots img, .offender .body .screenshots img, .email .body .screenshots img,
.message .body .attachments img,
.voicemail .body .attachments img,
.social .body .attachments img,
.video .body .attachments img,
.offender .body .attachments img,
.email .body .attachments img {
  margin-right: 1em;
  max-width: 200px;
  max-height: 300px;
}
.message .body .screenshots img, .voicemail .body .screenshots img, .social .body .screenshots img, .video .body .screenshots img, .offender .body .screenshots img, .email .body .screenshots img {
  max-width: 40px;
}
.message .footer, .voicemail .footer, .social .footer, .video .footer, .offender .footer, .email .footer {
  text-align: center;
  font-size: 0.7em;
  line-height: 1.2em;
  text-transform: uppercase;
  background: rgba(128, 128, 128, 0.25);
}
.message .footer span, .voicemail .footer span, .social .footer span, .video .footer span, .offender .footer span, .email .footer span {
  opacity: 0.4;
}

.evidence-item-link {
  width: 8px;
  height: 16px;
  text-align: center;
  margin: 0 0 0 auto;
  padding-left: 1em;
}

.email {
  border: 4px solid rgba(2, 136, 209, 0.95);
  border-bottom: 0;
  background: rgba(2, 136, 209, 0.41);
  border-radius: 0 !important;
}
.email .meta {
  background: rgba(2, 136, 209, 0.25);
}
.email .footer {
  background: rgba(2, 136, 209, 0.95);
  color: white;
}

.offender .meta strong.shannon {
  border: 0.75px solid #333;
  border-radius: 1em;
  padding: 0 0.5em;
  background-color: rgb(139, 195, 74);
}
.offender .meta strong.jesse {
  border: 0.75px solid #333;
  border-radius: 1em;
  padding: 0 0.5em;
  background-color: rgb(2, 136, 209);
  color: white;
}

.video {
  background: rgba(233, 30, 99, 0.18);
}
.video .footer,
.video .meta {
  background: rgba(233, 30, 99, 0.3);
}
.video .body > h1 {
  font-size: 1.4em;
  padding-bottom: 0;
  margin-bottom: 0;
}

.message.jesse, .message.shannon {
  background: rgba(139, 195, 74, 0.6);
  margin-left: auto;
}
.message.jesse .meta,
.message.jesse .footer, .message.shannon .meta,
.message.shannon .footer {
  background: rgb(139, 195, 74);
}
.message.jesse {
  background: rgba(2, 136, 209, 0.85);
  margin-left: auto;
  color: white;
}
.message.jesse .meta,
.message.jesse .footer {
  background: rgb(2, 136, 209);
}

.social {
  border: 4px solid rgba(255, 111, 34, 0.95);
  border-bottom: 0;
  background: rgba(255, 111, 34, 0.41);
  border-radius: 0 !important;
}
.social .meta {
  background: rgba(255, 111, 34, 0.25);
}
.social .footer {
  background: rgba(255, 111, 34, 0.95);
  color: white;
}

.voicemail {
  background: rgba(131, 83, 209, 0.18);
  border-radius: 0 !important;
}
.voicemail .meta {
  background: rgba(131, 83, 209, 0.25);
}
.voicemail .footer {
  background: rgba(131, 83, 209, 0.95);
  color: white;
}