#search
    form(action="?" method="get")
    
        include search/_query
        include search/_victim
        include search/_date_sent
        include search/_include

        .nowrap
            input(type="submit")

    p #[a(href="https://grafana.lloydnet.org/goto/30kG6qsSg?orgId=1" target="_blank") View Graphed Statistics]