footer 
    .disclaimer This website is for informational purposes only. 
        | Any other use of it is a violation of the terms and conditions.

include footer/_scripts

if !item || !(["video","voicemail"].includes(item.type))
    - var pageMeta = true
    include structuredData/_article
include structuredData/_localBusiness
include structuredData/_profilePage