doctype html
html
    include _htmlHead

    body(class=pageClass)
        noscript
            iframe(src=`https://www.googletagmanager.com/ns.html?id=${process.env.GTM_ID}` height="0" width="0" style="display:none;visibility:hidden")
            
        include _header
        | !{evidenceItemList}
        include _footer