@use "sass:color";
@use "config" as config;

///
/// Social media
///
.evidenceItem.social {
  border: 4px solid color.adjust(config.$social-color, $alpha: -0.05);
  background: color.adjust(config.$social-color, $alpha: -0.59);
  border-radius: 0 !important;

  .meta {
    background: color.adjust(config.$social-color, $alpha: -0.75);
  }
  .footer {
    background: color.adjust(config.$social-color, $alpha: -0.05);
    color: white;
  }
}
