@use 'sass:color';
@use 'config' as config;

///
/// Voicemail
///
.evidenceItem.voicemail {
  background: color.adjust(config.$voicemail-color, $alpha: -0.82);
  border-radius: 0 !important;

  .meta {
    background: color.adjust(config.$voicemail-color, $alpha: -0.75);
  }
  .footer {
    background: color.adjust(config.$voicemail-color, $alpha: -0.05);
    color: white;
  }
}
