version: "3"
name: abusedb

services:
  abusedb-mongo:
    image: mongo
    container_name: abusedb-mongo
    hostname: mongo
    read_only: true
    volumes:
      - ./data/db:/data/db
    tmpfs:
      - /tmp:rw,noexec,nosuid,uid=${PUID},gid=${PGID}
      - /run:rw,noexec,nosuid,uid=${PUID},gid=${PGID}
      - /var/cache/nginx:rw,noexec,nosuid,uid=${PUID},gid=${PGID}
    restart: always
    user: ${PUID}:${PGID}
    expose:
      - 27017
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INIT_ROOT_PASS}
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000
    deploy:
      resources:
        limits:
          cpus: 2
          pids: 500
          memory: 400M
    security_opt:
      - no-new-privileges:true

networks:
  public:
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
