@use "sass:color";
@use "config" as config;

/* Include core evidence item styles */
@use "evidenceItem/meta" as itemMeta;
@use "evidenceItem/body" as itemBody;
@use "evidenceItem/footer" as itemFooter;

/* Include evidence item type overrides */
@use "evidenceItem/overrides/email" as itemEmail;
@use "evidenceItem/overrides/offender" as itemOffender;
@use "evidenceItem/overrides/video" as itemVideo;
@use "evidenceItem/overrides/social" as itemSocial;
@use "evidenceItem/overrides/voicemail" as itemVoicemail;

/* Include sent evidence item styles */
@use "evidenceItem/overrides/sent" as itemSent;

///
/// Base evidence item styles
///
.evidenceItem {
  margin: 0.5em 0;
  border: 0.75px solid color.adjust(config.$received-color, $alpha: 0.82);
  border-radius: 20px;
  background: color.adjust(config.$received-color, $alpha: -0.82);
  max-width: 550px;
  width: fit-content;
  overflow: hidden;
  font-size: 1.1em;
  line-height: 1.4em;

  body.single & {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    line-height: 1.4em;
  }

  .info {
    h1,
    h2 {
      font-size: 0.8em;
      margin: 0;
      line-height: 1.1em;
      margin-bottom: 0.2rem;
      font-weight: normal;
    }
  }

  @media (max-width: 794px) {
    max-width: 90%;
  }
}
