@use "sass:color";
@use "config" as config;
@use "mixins" as mixins;

///
/// Message styles
///
.message {
  margin: 0.5em 0;
  border: 0.75px solid color.adjust(config.$received-color, $alpha: 0.82);
  border-radius: 20px;
  background: color.adjust(config.$received-color, $alpha: -0.82);
  max-width: 500px;
  width: fit-content;
  overflow: hidden;

  @media (max-width: 794px) {
    max-width: 90%;
  }

  .meta {
    padding: 4px 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-style: italic;
    background: color.adjust(config.$received-color, $alpha: -0.75);
    font-size: 0.9em;
    display: flex;

    .info {
      vertical-align: middle;
      line-height: 1.5em;
    }
    span.icon {
      margin-right: 0.5em;
      font-size: 1.5em;
      font-style: normal;
    }
    strong.jesse,
    strong.shannon {
      display: inline-block;
    }
  }
  .body {
    padding: 0.75em 1em 1em 1em;
    .title {
      font-size: 1.2em;
      line-height: 1.2em;
      margin-bottom: 0.2em;
    }
    .duration {
      margin-bottom: 1em;
    }
    .transcript {
      color: #444;
      font-style: italic;
      margin-top: 1em;

      h1 {
        font-size: 1em;
        cursor: pointer;

        .show {
          display: inline;
        }
        .hide {
          display: none;
        }
      }

      .content {
        font-size: 0.8em;
        line-height: 1.2em;
        display: none;
      }

      &.show {
        h1 .show {
          display: none;
        }
        h1 .hide {
          display: inline;
        }
        .content {
          display: block;
        }
      }
    }
    video {
      width: 100%;
      max-width: 300px;
      max-height: 400px;
    }
    img {
      display: inline-block;
      margin: 0.1em 0.1em 0.1em 0;
      max-width: 200px;
      max-height: 300px;
    }
    .duration {
      margin-top: 0em;
    }
    blockquote {
      font-style: italic;
      color: #666;
      opacity: 0.9;
      border-left: 2px solid #666 !important;
      margin-top: 0.25em !important;
    }
    .screenshots,
    .attachments {
      margin-top: 2em;
      font-size: 0.8em;
      color: #333;
      line-height: 1em;
      border-top: 1px solid #999;
      h1 {
        margin: 0;
      }
      img {
        margin-right: 1em;
        max-width: 200px;
        max-height: 300px;
      }
    }
    .screenshots img {
      max-width: 40px;
    }
  }
  .footer {
    text-align: center;
    font-size: 0.7em;
    line-height: 1.2em;
    text-transform: uppercase;
    background: color.adjust(config.$received-color, $alpha: -0.75);

    span {
      opacity: 0.4;
    }
  }
}
