@use "sass:color";
@use "config" as config;
@use "evidenceItem/base" as itemBase;

///
/// Voicemail
///
.voicemail {
  @extend .message;
  background: color.adjust(config.$voicemail-color, $alpha: -0.82);

  .meta {
    background: color.adjust(config.$voicemail-color, $alpha: -0.75);
  }
  .footer {
    background: color.adjust(config.$voicemail-color, $alpha: -0.05);
    color: white;
  }
  border-radius: 0 !important;
}
