- var last_number = null
- var last_email = null
- var lastDate = null
#message_list
    each item in evidenceItems
        if item.direction === "IN"
            include content/dividers/_number
            include content/dividers/_email
            include content/dividers/_date

        include content/_evidenceItem



