footer 
    .disclaimer This website is for informational purposes only.
        | Any other use of it is a violation of the terms and conditions.

include footer/_structuredData
include footer/_scripts