head
    title Brian Tiemeyer's Harassment, Stalking, Threats, Extortion and Blackmail of others

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:type" content="article") 
    meta(property="og:url" content="https://texts.lloydnet.org") 
    meta(property="og:title" content="Brian Tiemeyer's Harassment, Stalking, Threats, Extortion and Blackmail of others") 
    meta(property="og:image" content="https://cdn.lloydnet.org/texts/opt/screenshots/2024-01-18%20Sexual%20harassment%20-%201.webp")
    meta(property="og:description" content="This database contains MOST of the harassment sent by Brian Tiemeyer. It does not include countless social media messages, comments, etc.")

    script.
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '#{process.env.GTM_ID}');
        // End Google Tag Manager





    link(rel="stylesheet" type="text/css" href=`public/styles/style.css?${process.env.CSS_VER}`)
    link(rel="stylesheet" type="text/css" href="libs/lightbox2/css/lightbox.css")