script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "name": "Brian Tiemeyer Harassment Database",
        "author": {
            "@type": "Person",
            "name": "Brian Tiemeyer"
        },
        "datePublished": "2024-01-01",
        "description": "This database contains MOST of the harassment sent by Brian Tiemeyer. It does not include countless social media messages, comments, etc."
    }
script(type="application/ld+json").
    {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "mainEntity": {
            "@type": "Person",
            "name": "Brian Tiemeyer"
        }
    }
script(type="application/ld+json").
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Brian Tiemeyer"
    }
