if item.direction === 'IN'
    if item.type === 'text' || item.type === 'voicemail'
        - var from = formatPhone(item.from)
    else if item.type === 'voicemail'
        - var from = item.from.trim().match(/(?:<(.+)>)/)[1]
    else if item.type === 'video'
        - var from = 'YouTube'

    span.number
        strong Brian Tiemeyer 
        | (#{from}) 
        strong to 

if item.victim === 'both'
    strong.jesse Jesse 
    | , 
    strong.shannon Shannon
else
    strong(class=item.victim) #{item.victim.substring(0,1).toUpperCase()}#{item.victim.substring(1)}
