// 
// Email Evidence Item
// 

- var body = item.body_html ? item.body_html : item.body.replace(/\n/g, '<br/>')

div !{body}

if item.attachments
    each attachment in item.attachments
        img(src=cdn_url + "opt/attachments/" + attachment.attachment_id + '/' + attachment.filename.replace(/\.(jpg|jpeg|png)/, '.webp') alt=attachment.filename)