$video-color: rgba(233, 30, 99);
$voicemail-color: rgba(131, 83, 209);
$social-color: rgb(255, 111, 34);
$email-color: rgba(2, 136, 209);
$sent-color: rgb(139, 195, 74);
$received-color: rgb(128, 128, 128);
$header-height: 120px;
