// 
// Social Media Evidence Item
// 

div !{item.body.replace(/\n/g,"<br/>")}

include _attachments

- var from = item.direction === 'IN' ? 'Brian Tiemeyer' : item.victim.toTitle()
- var to = item.direction === 'IN' ? item.victim.toTitle() : 'Brian Tiemeyer'

script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "author": {
            "@type": "Person",
            "name": "Brian Tiemeyer",
            "url": "https://linktr.ee/the_brian_tiemeyer_experience"
        },
        "recipient": {
            "@type": "Person",
            "name": "#{to}"
        },
    }