// 
// Text Evidence Item
// 

div !{item.body}

include _attachments

- var from = item.direction === 'IN' ? 'Brian Tiemeyer' : item.victim.toTitle()
- var to = item.direction === 'IN' ? item.victim.toTitle() : 'Brian Tiemeyer'

script(type="application/ld+json").
    {
        "@context": "https://schema.org/",
        "@type": "Article",
        "author": {
            "@type": "Person",
            "name": "#{from}",
            "phone": "#{item.direction === 'IN' ? formatPhone(item.from) : 'REDACTED'}",
        },
        "recipient": {
            "@type": "Person",
            "name": "#{to}"
        },
    }