if item.direction === "IN" && (item.type === "text" || item.type === "voicemail")
    if last_number !== item.fromAddress
        .number_divider= item.fromAddress
        - var last_number = item.fromAddress

