if item.attachments

    each attachment in item.attachments 
        - var attachment_url = ''
        if item.type === 'email'
            - var attachment_url = attachment.attachment_id + '/'

        - var imageUrl = `${process.env.CDN}opt/attachments/${attachment_url}${encodeURIComponent(attachment.filename.replace(/\.(jpg|jpeg|png)/i, '.webp'))}`

        image:image
            image:loc= imageUrl