each item in evidenceItems
    url
        loc=`${baseUrl}/${item.type}/evidence-item/${item._id}`
        lastmod=item.dateSentDate

        include _video
        include _attachments
        include _screenshots