each item in evidenceItems
    url
        loc=`${baseUrl}/${item.type}/evidence-item/${item._id}`
        lastmod=`${process.env.DEFAULT_DATE_PUBLISHED.replace(/T.*/, "")}`

        include _video
        include _attachments
        include _screenshots