if item.screenshots

    each screenshot in item.screenshots 
        - var imageUrl = `${cdnUrl}opt/screenshots/${screenshot.replace(/\.(jpg|jpeg|png)/i, '.webp')}`

        image:image
            image:loc= imageUrl