// 
// Email Evidence Item
// 

- var body = item.body_html ? item.body_html.replace(/font-size:\s?\d\dp[x|t];?/g, '') : item.body.replace(/\n/g, '<br/>')

div !{body.replace(/\d+ E \dth [A-Z]+[a-z]+/, '[ADDRESS REDACTED]')}

include _attachments

include ../structuredData/_emailMessage