// 
// Text Evidence Item
// 
div !{linkify(item.body.replace(/\n/g, '<br/>'))}

include _attachments

- var from = item.direction === 'IN' ? process.env.OFFENDER_NAME : item.victim.toTitle()
- var to = item.direction === 'IN' ? item.victim.toTitle() : process.env.OFFENDER_NAME

include ../structuredData/_message
+message('text')