// 
// Video Evidence Item
// 
- var videoUrl = `${cdn_url}videos/${encodeURIComponent(item.filename)}`

.title
    strong Original Title: 
    | #[em #{item.title}]
    
.duration
    strong Duration: 
    | #{formatDuration(item.duration)}

if item.filename
        include _transcript

include ../structuredData/_videoObject