// 
// Evidence Item - Header Info - Addresses
// 

// Display "from" information for incoming items
if item.direction === 'IN'
    if item.type === 'text' || item.type === 'voicemail'
        - var from = formatPhone(item.from)
    else if item.type === 'email'
        - var from = item.from.trim().match(/(?:<(.+)>)/)[1]
    else if item.type === 'video'
        - var from = 'YouTube'

    span.number
        strong Brian Tiemeyer 
        | (#{from}) 
        strong to 

// Display "victim" information for incoming and outgoing items
if item.victim === 'both'
    strong.jesse Jesse 
    | , 
    strong.shannon Shannon
else
    strong(class=item.victim) #{item.victim.toTitle()}
